html {
    font-family: 'Open Sans';
}

.btn {
    margin-top: 25px;
    margin-bottom: 25px;
}

.encabezado {
    font-weight: bold;
    font-size: 115%;
}

.encabezado_2 {
    font-weight: bold;
}

.titulo_seccion {
    font-size: 30px;
    margin-top: 70px;
    padding-left: 10px;
    font-weight: bold;
}

.header_tabla {

        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #81DAF5;

}

.contenedor {
    
    padding: 0 15px;
}

.navbar-inverse {

    .navbar-nav {

        li {

            a {
                color: #FFFFFF;
            }

            a:hover {

                color: #E0F8F7;
            }
        }

        .dropdown-menu {

            a {
                color: #000000;
            }

            a:hover {
                color: #000000;
            }

        }
    }

    .navbar-brand {

        color: #FFFFFF;
    }

    .navbar-brand:hover {

        color: #F4FA58;
    }

}
